<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<head>
    <meta charset="UTF-8">
    <!--부트스트랩-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>index</title>
</head>

<!-- inline CSS 영역-->
<style th:inline="css" type="text/css">

    #container{
        width: 80%;
        margin: 5% auto 7% auto;
        border: solid 1px black;
    }

    #main{
        width:90%;
        margin: 3% 0;
        border: solid 1px red;
    }

    span {
       margin-left : 80%;
    }

    #table{
        hover: pointer;
        width:90%;
        margin-top: 7%;
    }

    td{
        text-align: center
    }

    option{
        border: none;
    }


</style>

<!-- inline JS 영역-->
<script type="text/javascript">
 $(document).ready(() => {
            alert("페이지가 시작됩니다.")


 }); // end of   $(document).ready(() => {
</script>

</head>
<body>

<div id="">


</div>
<div id="container" align="center">
   <h5>게시글 리스트</h5>
    <div id="main">
   <span>
     <select class="search">
       <option>1</option>
       <option>2</option>
       <option>3</option>
     </select>
     <input class="search" type="text">
   </span>

    <table class="table table-bordered " id="table">
      <thead>
        <tr>
          <th>NO</th>
          <th>작성자</th>
          <th>제목</th>
          <th>작성일</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>김민수</td>
          <td>안녕하세요</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    </div>


</div>
</th:block>
</body>
</html>