<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <!--부트스트랩-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <title>Login</title>
</head>

<style>

  body{ background-color: #ecf0f1; }

  #common{
    width:80%;
    margin: 0 auto 7% auto;
    padding: 3%;
    min-height:100px;
  }

  #header{
    margin: 3% 0;
  }

   #header > img {
    width: 35%;
    height: 200px;
   }


  div#banner > nav > a{
    margin-left:2%;
  }

  div#banner > nav > a> i{
    margin-right:1%;
  }

  div#banner > nav > a{
    text-decoration: none;
     color: #34495e;
   }

<!-- ======================================== Content 시작 ======================================== -->
  section{
    margin: 20% 0 5% 0;
  }

    div#container{
      width: 30%;
    }

    button.btn_join > a{
        text-decoration: none;
        color: black;
    }


</style>

<body>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">

    $(document).ready(function(){

        // 로그인버튼을 누른경우
        $("button#btn_submit").click(function(e){
            alert("누름");
            btn_submit();
        });

        // 엔터를 누른경우
        $("input#pwd").keydown(function(e){
            if(e.keycode==13){
                 alert("엔터");
                btn_submit();
            }
        });


    }); // end of $(document).ready(function({

    function btn_submit(){
        const id = $("input#id").val();
        const pwd = $("input#pwd").val();

        if(id.trim() == "") {
            $("input#id").val("");
			$("input#id").focus();
        }

         $("input#pwd").blur((e) => {
             const $target = $(e.target);
             var reg = "^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$";
             const bool = reg.text($target.val());

            if(pwd.trim() == ""){
                alert("비밀번호를 입력해주세요")
                $("input#pwd").val("");
                $("input#pwd").focus();
            }
            if(!bool){
                $("div#msg").text("알맞게 입력해주세요.").show();
                $("input#pwd").val("");
                $("input#pwd").focus();
            }
        });

        const frm = document.frm_gologin;
        frm.action = "http://localhost:8080/loginEnd";
		frm.method="POST";
		frm.submit();
    }



</script>

<th:block layout:fragment="content">

    <div id="wrap" align="center">
        <div id="common">

            <div id="banner" align="right">
                <nav>
                    <a href="http://localhost:8080/login"><i class="fas fa-sign-in-alt"></i>LOGIN</a>

                    <span>님</span><a href="http://localhost:8080/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>LOGOUT</a>
                    <a href="http://localhost:8080/boardHome"><i class="fas fa-home fa-lg"></i>HOME</a>
                    <a href="http://localhost:8080/join"><i class="fas fa-sign-in-alt"></i>JOIN</a>
                </nav>
            </div>

            <header id="header">
                <img src="../images/mainlogo.png">
            </header>

            <form name="frm_gologin">
            <section>
                <div align="center" id="container">
                    <div align="center">
                        <p>ID : <input type="text" id="id" name="id" style="width: 90%;margin:auto;"  placeholder="ID를 입력해주세요."/></p>
                        <p>PW : <input type="password" id="pwd" name="pwd" style="width: 90%; margin:auto;"  placeholder="8글자이상 문자,숫자,특수문자를 사용해주세요."/></p>
                        <div id="msg" style="color:red;"></div>
                        <button type="button" class="btn btn-sm btn_join" style="background-color:#d9d9d9; margin-right:5%;" ><a href="/join">JOIN</a></button>
                        <button type="submit" id="btn_submit" class="btn btn-sm" style="color:white; background-color: #34495e">LOGIN</button>
                    </div>
                </div>
            </section>
            </form>

            <footer style="margin-top:5%;">
                <div align="center" style="color:#d9d9d9;">
                    Copyright ⓒ 2023 MinsuBoardProject. All Right Reserved
                </div>
            </footer>
        </div>
    </div>

</th:block>

</body>
</html>